nav.header{
    position: relative;
    width: 100vw;
    height: 80px;
    left: 0px;
    top: 0px;
    
    font-weight: 500;
    
    display: flex;justify-content: space-between;
    align-content: center;
    align-items: flex-end;
    flex-direction: row;
    padding: 0 100px;
}

.a-logo{
    width: 41px;
    height: 41px;
    position: relative;
    bottom: 17px;
}
.header-action{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 12px;

    width: 204px;
    height: 100%;
}

.header-action .currency-change{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 10px;
    gap: 12px;
    cursor: pointer;
}
.header-action .currency-change span{
    width: 12px;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
}