@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.cart-page-content{
    padding: 80px 100px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.cart-page-header{
    display:inline-block;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 55px;
}
.cart-page-content .cart-left{
    column-gap:24px;
    width: 100%;
    max-width: 244px;
    max-height: 288px !important;
}
.cart-page-content .cart-item{
    overflow: visible;
    gap: 0;
}
.cart-page-content .cart-product{
    border-bottom: 1px solid #E5E5E5;
    padding: 24px 0;
    min-height: 337px;
}
.cart-page-content .cart-product:first-of-type{
    border-top: 1px solid #E5E5E5;
}

.cart-page-content .cart-product .item-info span{
    padding: 10px 0;
}
.cart-page-content .cart-product .item-brand, .cart-page-content .cart-product .item-name{
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    padding: 0 0 16px 0 !important;
}

.cart-page-content .cart-product .item-name{
    font-weight: 400;
}

.cart-page-content .cart-product .item-price{
    font-size: 24px;
}
.cart-page-content .item-info .attribute{
    padding-top: 10px;
}
.cart-page-content .item-info .attr-val-text{
    height: 45px;
    padding: 0 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 18px;
}

.cart-page-content .item-info .attr-val-swatch{
    width: 32px;
    height: 32px;
}
.cart-page-content .item-info .attribute span{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

.cart-page-content .item-increase-decrease .item-increase,
 .cart-page-content .item-increase-decrease .item-decrease{
    width: 45px;
    height: 45px;
}

.cart-page-content .item-quantitiy{
    font-size: 24px;
}

/*footer*/
.cart-footer{
    margin-top: 32px;
    display: grid;
    justify-items: start;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
}
.cart-footer div{
    padding-bottom: 10px;
}
.cart-footer span{
    max-width: fit-content;
    font-weight: 700;
}
.cart-footer button{
    grid-column-end: span 2;
    padding: 0 115px;
}